body {
    background: #ABABAB;
}
.mainContainer {
    width: 95%;
    position: relative;
    top: 80px;
    left: 5%;
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    
}
.block1 {
    width: 60%;
    margin-right: 2%;
    background: #F1F1F1;
    padding: 10px;
    padding-right: 0px;
    border-radius: 6px;
    float: left;
}
.inputNewItem {
    margin-left: 2%;
}

.inputNewItem1 {
    padding: 5px;
    padding-left: 10px;
    height: 32px;
    width: 83%;
}
.confirmingProduct {
    position: fixed;
    text-decoration: none;
    padding: 12px 11px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    font: 19px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: #3415B0;
    box-shadow: 2px 2px 0px #bababa;
}

    .confirmingProduct:hover {
        background: #3E2D84;
    }

    .confirmingProduct:active {
        background: #1C0772;
    }

.bananas, .cheese, .milk {
    width:89%;
    padding: 20px;
    margin: 2%;
    height: 30px;
    border-bottom: 1px solid lightgray;
}

.name1,.minus1,.amount1,.plus1{
    float: left;
    padding: 1px;
    margin-left: 4.5%;
}

.name1 {
    margin-top: 1%;
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-left:2%;
}

.genAmount {
    margin-left:30%;
}

.minus1 {
    padding: 10px 16.5px;
    border: none;
    border-radius: 50px;
    font: 16px Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: #F80012;
    box-shadow: 2px 2px 0px #bababa;
}
    .minus1:hover {
        background: #BA2F39;
    }

    .minus1:active {
        background: #A2000C;
    }

.plus1 {
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    font: 16px Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: #1DD300;
    box-shadow: 2px 2px 0px #bababa;
}

    .plus1:hover {
        background: #389E28;
    }

    .plus1:active {
        background: #138900;
    }

.amount1 {
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    background: #E1E1E1;
    color: #939393;
}

.changeButtons {
    margin-left: 78%;
}

.delete1 {
    padding: 10px 13px;
    border: none;
    border-radius: 2px;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background: #F80012;
    box-shadow: 3px 2px 0px #bababa;
}
    .delete1:hover {
        background: #BA2F39
    }

    .delete1:active {
        background: #A2000C;
    }

.buy1 {
    padding: 10px 30px;
    border: 1px solid #B8B8B8;
    border-radius: 2px;
    font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #808080;
    background: #F1F1F1;
    box-shadow: 3px 2px 0px #bababa;
}
    .buy1:hover {
        background: #E4E4E4;
    }

    .buy1:active {
        background: #ABABAB;
        color: #F1F1F1;
    }

.block2 {
    width: 30%;
    position: relative;
    background: #F1F1F1;
    padding: 10px;
    border-radius: 6px;
    float: left;
}

.left, .bought {
    position: relative;
    padding: inherit;
    border-bottom: 1px solid lightgray;
}
.empty{
}

.left{
    height: 100px;
}

.leftFont, .boughtFont {
    width: 100%;
    padding: 5px;
    margin-left: -5px;
    font: 13pt sans-serif;
    border-bottom: 1px solid lightgray;
}

.bananas2, .cheese2, .milk2 {
    margin: 2%;
    margin-right: 0%;
    float: left;
    padding: 7px 7px;
    border: solid 2px #D1D1D1;
    font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #2b2b2b;
    background: #D1D1D1;
}

.bananas3, .cheese3, .milk3 {
    margin: 2%;
    margin-left: 0%;
    float: left;
    padding: 7px 7px;
    border: solid 2px #D1D1D1;
    font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
    background: #FFCF00;
}

.badge {
    position: fixed;
    width: 250px;
    height: 300px;
    top: 85%;
    left: 6%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 31px 59px;
    border: none;
    font: 38px Arial, Helvetica, sans-serif;
    color: #58356A;
    background: #58356A;
    box-shadow: 3px -3px 0px gray;
    transition: all 1s ease;
}

    .badge:hover {
        top: 80%;
        color: #B8B8B8;
        background: #9F5250;
    }

